html, body{
    background-color: black;
    overflow-x: hidden;
    font-family: 'Noto Sans', serif;
    font-size: 62.5%;
}

.container-fluid {
    padding: 0 !important;
  }


#nav-target a {
    color: white;
    font-size: 1.4rem;
    
}

.nav-item{
    padding-left: 15px;
}

.logo{
    font-size: 1.6rem;
}


.painel{
    height: auto;
    max-height: 90vh;
}

.painel-texto h1{
    font-size: 3.8rem;
}

.painel-texto p{
    font-size: 1.4rem;
}


#segunda{
    background: white;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.texto{
    text-align: justify;
    padding: 10px;
    width: 90%;
    margin: auto;
    
}

p.texto{
    font-size: 1.6rem;
}

h1.texto{
    font-size: 3.5rem;
}

h3.texto{
    font-size: 1.6rem;
}





#terceira{
    
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.texto2{
    text-align: justify;
    padding:15px;
}


h2.texto2{
    font-size: 2.4rem;
}

p.texto2{
    
    font-size: 1.4rem;
    
}



.faction{
    width: 90%;
    margin:auto;
}

.navbar-toggler{
    font-size: 2.5rem;
}


#rodape{
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(5, 0, 8);
    
    
}

#rodape h5{
    font-size: 1.4rem;
}

#rodape i{
    font-size: 3rem;
    padding-left: 20px;
}



/* media queries */

@media (max-width: 575.98px) {
    .painel-texto p{
        display: none;
    }

    .painel-texto h1{
        font-size: 2.8rem;
    }

    body, html{
        font-size: 50%;
    }

    #nav-target a {
        color: white;
        font-size: 2rem;
        
    }

    .navbar-toggler{
        font-size: 3.5rem;
    }
    

   
}
 
 @media (min-width: 576px) and (max-width: 767.98px) { 

    
    
  }
 
 @media (min-width: 768px) and (max-width: 991.98px) { 
    .faction{
        width: 90%;
        margin:auto;
    }
  }
 
 @media (min-width: 992px) and (max-width: 1199.98px) {
    
  }
 
 @media (min-width: 1200px) {
    
  }
 



/* 
    <!-- Home -->
    <section id="home" class="d-flex">
        <div class="align-self-center capa">
            
            <div class="carousel slide" data-ride="carousel" id="carousel-spotify"> <!-- inicio carousel slide-->
                <div class="carousel-inner">  <!--inicio carousel-inner-->

                    <div class="carousel-item active">
                        <!-- <h1>Música para todos</h1>

                        <a href="" class="btn btn-lg btn-custom btn-roxo">aproveite o spotify free</a>
                        <a href="" class="btn btn-lg btn-custom btn-branco">obter spotify premium</a> -->
                        <img src="imgs/blessgrande+logo.png" alt="" class="img-fluid">
                    </div>

                    <div class="carousel-item">
                        <h1>As melhores rádios</h1>

                        <a href="" class="btn btn-lg btn-custom btn-branco">
                            <i class="fas fa-music"></i> ouça agora</a>
                    </div>
                </div>  <!--fim carousel-inner-->

                <!-- Controles  -->
                <a href="#carousel-spotify" class="carousel-control-prev" data-slide="prev">
                    <i class="fas fa-angle-left fa-3x "></i>
                </a>

                <a href="#carousel-spotify" class="carousel-control-next" data-slide="next">
                    <i class="fas fa-angle-right fa-3x "></i>
                </a>


            </div>  <!-- fim carousel slide-->
        </div>
    </section>

*/